<div class="container mt-4">
  <h1>Lucas Mendes</h1>
  <p><strong>Função:</strong> Front-End Developer em transição | Analista de Suporte • Angular • Typescript • SQL</p>
  <p><strong>Local:</strong> Curitiba, PR</p>
  <p id="contato"><strong>Contato:</strong> (41) 98798-1523 | <a href="mailto:lucasmen11&#64;gmail.com">lucasmen11&#64;gmail.com</a></p>

  <h2>Resumo</h2>
  <p>Gosto de aprender o “porquê” das coisas — isso me ajuda a resolver problemas com simplicidade e eficiência. Minha trajetória começou no atendimento, passou pela logística e hoje estou no suporte técnico. Sempre com um pé na tecnologia.</p>
  <p>Me especializo no front-end com Angular, Typescript e JavaScript. Mas além do código, levo comigo empatia, proatividade e vontade de crescer. Estudo todos os dias e mergulho de cabeça em cada projeto. Se você busca alguém com visão de ponta a ponta — que entende gente, sistemas e processos —, talvez a gente tenha algo pra construir junto.</p>

  <h2 id="experiencia">Experiência Profissional / Tecnologia</h2>
  <ul>
    <li><strong>Inteliger</strong> — Desenvolvedor Front-End (jan/2024 - atual)<br>
      
    </li>
    <li><strong>Inteliger</strong> — Analista de Suporte (set/2023 - jan/2024)<br>
      Atuo como ponte entre time técnico e usuários. Resolvo chamados, mantenho o sistema funcional e trabalho com SQL Server e Angular. Desenvolvi uma visão técnica com empatia de quem já esteve na linha de frente.
    </li>
  </ul>

  <h2 id="competencias">Principais Competências</h2>
  <ul>
    <li>Resolução de problemas</li>
    <li>Interpretação de texto</li>
    <li>Inteligência emocional</li>
  </ul>

  <h2 id="certificacoes">Certificações</h2>
  <ul>
    <li>Básico de Analista de Sistemas</li>
    <li>Introdução ao Customer Success</li>
    <li>Administrando Banco de Dados</li>
    <li>Analista/Especialista de Atendimento e Suporte</li>
    <li>Fundamentos de TI: Hardware e Software</li>
    <li>Bootcamp Python e JavaScript Básico (Inteliger)</li>
    <li>Bootcamp Angular e Typescript Básico (Inteliger)</li>
  </ul>

  <h2 id="formacaoacademica">Formação Acadêmica</h2>
  <ul>
    <li>Analise e Desenvolvimento — FAM (cursando)</li>
    <li>Curso de Programação — CursoemVideo (mar/2022 - abr/2022)</li>
    <li>Ensino Médio Completo — Antonio Vieira Campos (2015 - 2017)</li>
  </ul>
</div>